<div class="container">
<h1>Your short url</h1>
<p>
  You entered a url of <%=@displayData['longUrl'] %>.
</p>
<p>
  Your short url is <%=@displayData['shortenedValue'] %>
</p>

  <% if @displayData['smsResponse'] != '' %>
    <p>There is a message related to your request: <%=@displayData['smsResponse'] %></p>
  <% end %>

<p>
  <%= link_to 'Make a new short url', new_shortener_url %>

</p>

</div>